@import url(contacto.css);

/* Global */

*{  
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Header, Footer, Body */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header{
    background-color: #557ed6;
}

.header{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #557ed6;
    color: white;
}


/* Menu de Navegacion*/
.logo{
    width: 70px;

}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
nav li {
    display: inline; 
    
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: #314268;
}

li .hamburguesa{
    display: none;
    color: white;
}

/* Seccion Bienvenida */
.bienvenido {
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom,  #557ed6, #7195e2,#8dacee);
    color: white;
    padding: 100px 20px;
}

/* Seccion Productos */

.productos{
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 1rem;
    border-radius: 1rem; 
}

.precio{
    color: #000000;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}

.cards h3{
    max-width: 300px;
    margin: 0 auto;
}

.cards .descripcion{
    max-width: 270px;
    margin: 0 auto;
    font-size: 12px;
}

.titulo-producto{
    font-size: 18px;
}

.texto-producto{
    text-align: center;
    margin: 50px;
}

/* Tarjeta padre */

.card-producto{
    align-items: center;
    border: 1px solid #314268;
    max-width: 270px;
    height: 450px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.5);
}

/* Tarjeta hijo */ 

.card{
    text-align: center;
}


/* Seccion Testimonios */

.nombre-review{
    margin-bottom: 10px;
}

.testimonio{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    text-align: center;
    color: rgb(255, 255, 255);
    background: #314268;
    padding: 20px;
    
}

.texto-review{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.reviews-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: #314268;
    padding: 30px;
}

.user-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-container span{
    font-size: 12px;
    color: #ffffff;
}

.card-review{
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    max-width: 470px;
    background-color: #7195e2;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.card-review:hover{
    transform: scale(1.05);
}

.estrellas i {
    color:#314268;
    font-size: 14px;
}

.persona{
    display: flex;
    border-radius: 50px;
    width: 50px;
    border: 1px solid #314268;
}


/* Botones */

.carrito{
    color: #ffffff;
    background-color: #557ed6;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    
}

.carrito:hover{
    background-color: #799deb;
}


/* Imagenes */
.logo{
    width: 70px;
    color: white;
}

.imagenes{
    width: 200px;
    height: 170px;
    object-fit: contain;
    display: block;
    margin: 10px auto;
}


/* Responsive */

@media only screen and (max-width: 1024px){
    *{
        box-sizing: border-box;
    }
    .header{
        font-size: 16px;
    }
    .titulo-producto{
        font-size: 14px;
    }
    .productos{
        grid-template-columns: repeat(3, 1fr);

    }

    li .hamburguesa{
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
    }
    .card-producto{
        height: 450px;
    }

    .texto-producto{
        margin: 20px;
    }

    .bienvenido{
        padding: 60px 15px;
    }

    /* Reseñas */
    .testimonio{
        padding: 20px;
        font-size: 24px;
    }
    .reviews-container{
        grid-template-columns: repeat(2,1fr);
    }
}


@media only screen and (max-width: 768px){
    *{
        box-sizing: border-box;
    }
    .header{
        font-size: 16px;
    }
    .titulo-producto{
        font-size: 14px;
    }
    .productos{
        grid-template-columns: repeat(2, 1fr);

    }
    li .hamburguesa{
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
    }
    .card-producto{
        height: 450px;
    }

    .texto-producto{
        margin: 20px;
    }

    .bienvenido{
        font-size: 14px;
        padding: 60px 15px;
    }

    /* Reseñas */
    .testimonio{
        padding: 20px;
        font-size: 24px;
    }
    .reviews-container{
        grid-template-columns: repeat(1,1fr);
    }
}

